*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Решта коду */

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* Обнулення дефолтних маржінів для заголовків і параграфів */
h1,
h2,
h3,
p {
  margin: 0;
}

/* Обнулення маржінів і падінгів для списків */
ul,
ol {
  margin: 0;
  padding-left: 0;
}

/* Кнопка не успадковує багато стилів оформлення тексту LR5 */
button {
  font-family: inherit;
  color: currentColor;
}
input {
  font-family: inherit;
}
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

/* Зробити зображення блочними елементами */
img {
  display: block;
  max-width: 100%; /* Для адаптивності */
  height: auto; /* Зберігає пропорції зображення */
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

/* ДЗ 3 (три) блоки флекси до .body скиидання відступів і псевдокласи  */

.container {
  max-width: 100%;
  /* max-width: 1158px; Максимальна ширина контейнера */
  padding-left: 15px; /* Внутрішній відступ зліва */
  padding-right: 15px; /* Внутрішній відступ справа */
  margin-left: auto; /* Центрує контейнер по горизонталі */
  margin-right: auto; /* Центрує контейнер по горизонталі */
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.page-header .container {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo_f {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
  margin-left: 86px;
}

.logo_part {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.logo_partt {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.logo_navigation {
  list-style-type: none;
  font-weight: 500;
  display: flex;
  gap: 40px;
}

.logo_list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.ref {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  /* padding: 24px 0; */
  position: relative;
  /* edits after dz4 */
  /* color: #404bbf; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
  color: #404bbf;
}

.logo_navigation .current::before {
  background-color: #fff;
}

.logo_navigation .current::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.ref:hover {
  color: #404bbf;
}
.ref:focus {
  color: #404bbf;
}
address {
  font-style: normal;
}
.addresa {
  font-style: normal;
}
.adres {
  list-style: none;

  gap: 40px;
}
.mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail:hover {
  color: #404bbf;
}
.mail:focus {
  color: #404bbf;
}
.heder_icon {
  display: flex;

  align-items: center;
  padding: 16px 0;
}
.main_page {
  background: #2e2f42;
  padding: 72px 0;
  align-items: center;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 100%;
  margin: auto;
}
.main_page .container {
  display: flex;
  justify-content: center; /* Центрує по горизонталі */
  align-items: center; /* Центрує по вертикалі */
  flex-direction: column; /* Розташовує елементи одне під одним (по вертикалі) */
}
.hero_title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
}
.cta {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cta:hover {
  background-color: #404bbf;
}
.cta:focus {
  background-color: #404bbf;
}

.page_advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}

.adv_content {
  display: flex;
  align-items: center;
  /* align-items: flex-start; */
  justify-content: flex-start;
  flex-direction: column;
  gap: 72px;
}
.adv_list {
  display: flex;
  /* align-items: flex-start; */
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  /* flex-basis: calc((100% - 3 * 24px) / 4); */
}

.adv_icon {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
  width: 64;
  height: 64;
}

.adv_title_a {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  /* margin: auto; */
}

.adv_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: auto;
}
.adv_text_a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  max-width: 288px;
}

.adv_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.soc_nets {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;

  margin-top: 8px;
  padding-left: 0;
}

.soc_nets_item {
  width: 40px;
  height: 40px;
}
.soc_nets_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc_nets_link:hover {
  background-color: #404bbf;
}
.soc_nets_link:focus {
  background-color: #404bbf;
}

.net_icon {
  fill: #f4f4fd;
}
.about {
  background: #f4f4fd;

  padding: 96px 0;
}

.hederr {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team_card_box {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}
.team_card {
  background-color: #ffffff;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  /* padding: 0px 0px 32px 0px; */
  /* width: 264px; */
  /* height: 428px; */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.about_li_container {
  text-align: center;
  gap: 8px;
  padding: 32px 0;
}

.page_portfolio {
  padding: 96px 0;
}

.portfolio_content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  /* gap: 24px; */

  align-items: center;
}

.portfolio_list_item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio_block_item {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio_block_item .adv_text:hover {
  transform: translateY(0%);
}
.portfolio_content_img {
  position: relative;
  overflow: hidden;
}
.portfolio_hover_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* portfolio_content_img:hover .portfolio_hover_text {
  transform: translateY(0%);
} */
/* оверлей прт ховері на картинку, а потрібно  на  весь блок */

.portfolio_list_item:hover .portfolio_hover_text {
  transform: translateY(0%); /* оверлей прт ховері на  весь блок */
}

footer {
  background: #2e2f42;
}
.foooter {
  background: #2e2f42;

  padding: 96px 0;
}

.footer_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.foooter .container {
  display: flex;

  flex-direction: column;
  gap: 72px;
}

.foooter_socnets {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}
.soc_nets_ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
}
.soc_nets_ul .soc_nets_link:hover {
  background-color: #31d0aa;
}
.soc_nets_ul .soc_nets_link:focus {
  background-color: #31d0aa;
}

/* Css DZ5 */

.footer_social_media {
  /* margin-right: 80px; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  /* margin: auto; */
}

.form_feedback_title {
  margin-bottom: 16px;
  color: #fff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.form_feedback {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form_feedback_label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  gap: 24px;
}
.form_feedback_input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #fff;
}

.form_feedback_input::placeholder {
  color: #ffffff;
  /* color: white; Колір тексту плейсхолдера */
  /* opacity: 1; Забезпечує повну непрозорість, деякі браузери задають за замовчуванням 0.5 */
}

.form_feedback_button {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 16px;
  border-radius: 4px;

  width: 165px;
  height: 40px;
  background-color: #4d5ae5;

  cursor: pointer;

  min-width: 165px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  margin: auto;
}

.form_feedback_button i,
.form_feedback_button svg {
  margin-right: 0px; /* Відступ між іконкою і текстом */
}
.send_icon {
  fill: #fff;
  margin-left: 16px;
}

/* Modal window */
.modal_overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* add no vision, no actions */
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal_overlay_a {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal_overlay.is-open,
.modal_overlay_a.is-open {
  /* for Js script open-close modal window */
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  width: 408px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 584px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}
.modal_title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal_close {
  cursor: pointer;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_close:hover {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal_close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal_close_icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_name_cont {
  margin-bottom: 8px;
  position: relative;
}
.modal_name_label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #8e8f99;
  font-weight: 400;
  line-height: 1.17;
}

.modal_name_input {
  position: relative;
}
.modal_input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_input:focus {
  border-color: #4d5ae5;
}

.modal_input:focus + .modal_input_icon {
  fill: #4d5ae5;
}

.modal_input_icon {
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal_comment_container {
  margin-bottom: 16px;
}
.modal_comment_field {
  padding: 8px 16px;
  background-color: transparent;
  outline: transparent;
  width: 100%;
  height: 120px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal_comment_field:focus {
  border-color: #4d5ae5;
}
.upp_container {
  margin-bottom: 24px;
}
.upp_input {
  margin: 0;
}
.privacy_policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.upp_ch {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}
.upp_input:checked + .privacy_policy > .upp_ch {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.upp_a {
  color: #4d5ae5;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.modal_cta {
  cursor: pointer;
  background-color: #4d5ae5;
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: auto;
}

/* Dz 6 */

/* Burger */

.m_menu {
  width: 320px;
}
.burger_navigation {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 168px;
}
.burger_list .ref {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.burger_list .current {
  color: #404bbf;
}
.burger_adres {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}
.bg_tel {
  color: #4d5ae5;
}
.burger_adres .logo_list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}
.bg_soc_nets {
  display: flex;
  justify-content: space-between;
}

/* Базові стилі для мобільних пристроїв (320px) */
@media (min-width: 320px) and (max-width: 767px) {
  /* Підключення ретини х2 для mobile */

  @media screen and (min-width: 320px) {
    .main_page {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-mobile-x1.jpg);
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .main_page {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/Dark-bg-mobile-x2.jpg);
      }
    }
  }

  .logo_navigation {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: none;
  }
  .adres {
    list-style: none;

    gap: 40px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: none;
  }
  .adv_icon {
    display: none;
  }
  .adv_title_a {
    margin: auto;
  }
  .modal_overlay_a {
    width: 288px;
  }
  .m_menu {
    /* width: 288px; */
    position: fixed;
    /* top: 0; */
    /* left: 0; */
    height: 100%;
    width: 100%;
  }
  .modal_overlay .modal {
    width: 288px;
  }
  .upp_container {
    width: 256px;
  }

  .form_feedback_input {
    width: 288px;
  }
}

/* Стилі для планшетів (мінімум 768px) */
@media (min-width: 768px) and (max-width: 1157px) {
  /* Підключення ретини х2 для таблета */

  @media screen and (min-width: 768px) {
    .main_page {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-tablet-x1.jpg);
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .main_page {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/Dark-bg-tablet-x2.jpg);
      }
    }
  }

  .container {
    max-width: 100%;
    /* min-width: 768px; */
    max-width: 1157px; /* Максимальна ширина контейнера */
    padding-left: 16px; /* Внутрішній відступ зліва */
    padding-right: 16px; /* Внутрішній відступ справа */
  }

  .modal_overlay_a {
    display: none;
  }
  .logo {
    margin-right: 120px;
  }

  .ref {
    padding: 24px 0;
  }

  .adres {
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* padding: 16px 0; */
  }

  .heder_icon {
    display: none;
  }

  .main_page {
    padding: 112px 0;

    max-width: 100%;
  }

  .hero_title {
    font-weight: 700;
    font-size: 56px;
    max-width: 496px;
  }

  .cta {
    margin-top: 36px;
  }

  .page_advantages {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .adv_content {
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
    flex-direction: row;
    justify-content: center;
    flex-basis: calc((100% - 24px) / 2);
  }

  .adv_icon {
    display: none;
  }
  .adv_list {
    width: 356px;
  }
  .adv_title {
    font-weight: 500;
    font-size: 20px;
  }
  .adv_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .about .container {
    width: 584px;
    /* max-width: 768px; */
    /* padding-left: 80px; */
    /* padding-right: 80px; */
  }
  .team_card_box {
    max-width: 768px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }
  .team_card {
    flex-basis: calc((100% - 24px) / 2);
  }

  .page_portfolio {
    margin: auto;
  }

  .portfolio_content {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
    align-items: center;
  }

  .foooter .container {
    width: 584px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
    /* padding-left: 108px; */
    justify-content: flex-start;
  }

  .foooter_socnets {
    text-align: start;
  }

  .form_feedback {
    flex-direction: row;
    gap: 24px;
  }

  .foooter_logo {
    /* margin-right: 120px; */
    margin-left: 0;
  }
  .logo_f {
    margin-left: 0;
  }

  .form_feedback_title {
    text-align: start;
  }

  .footer_feedback_container {
    margin-left: 0;
  }
}

/* Стилі для десктопів (мінімум 1158px) */
@media (min-width: 1158px) {
  /* Підключення фонової картинки з градієнтоm у Герой  */
  @media screen and (min-width: 1158px) {
    .main_page {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-x1.jpg);
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .main_page {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/people-office-x2.jpg);
      }
    }
  }

  .container {
    max-width: 1158px; /* Максимальна ширина контейнера */
    padding-left: 15px; /* Внутрішній відступ зліва */
    padding-right: 15px; /* Внутрішній відступ справа */
    margin-left: auto; /* Центрує контейнер по горизонталі */
    margin-right: auto; /* Центрує контейнер по горизонталі */
  }

  .modal_overlay_a {
    display: none;
  }

  .logo {
    margin-right: 76px;
  }

  .ref {
    padding: 24px 0;
  }

  .adres {
    display: flex;
    flex-direction: row;
    padding: 24px 0;
  }

  .heder_icon {
    display: none;
  }

  .main_page {
    padding: 188px 0;
    max-width: 100%;
  }

  .hero_title {
    font-weight: 700;
    font-size: 56px;
    max-width: 496px;
  }

  .cta {
    margin-top: 48px;
  }

  .page_advantages {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .adv_content {
    flex-direction: row;
    gap: 24px;
  }
  .adv_list {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .adv_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    width: 64;
    height: 64;
  }

  .adv_title_a {
    /* text-align: start; */
    font-weight: 500;
    font-size: 20px;
  }

  .adv_text_a {
    font-weight: 400;
    font-size: 16px;
    max-width: 264px;
  }

  .adv_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  .adv_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .about {
    padding: 120px 0;
  }

  .team_card_box {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .page_portfolio {
    padding: 120px 0;
  }
  .portfolio_content {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    align-items: center;
  }
  .portfolio_list_item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .foooter {
    padding: 100px 0;
  }
  .foooter .container {
    flex-direction: row;
    gap: 72px;
  }

  .logo_f {
    margin-left: 0;
  }
  .foooter_logo {
    margin-right: 120px;
    margin: auto;
  }
  .footer_social_media {
    margin-right: 80px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: auto;
  }

  .foooter_socnets {
    text-align: left;
  }

  .form_feedback_title {
    text-align: left;
  }
  .footer_feedback_container {
    margin: auto;
  }

  .form_feedback {
    flex-direction: row;
  }

  .form_feedback_button {
    margin: 0;
  }
}
